@import "breakpoints";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
}

.navMainDiv {
  width: 100vw;
  height: 4rem;
  position: fixed;
  background-color: #34495e;
  z-index: 1;
  .navContHolder {
    width: 97%;
    height: 80%;
    // background-color: tomato;
    margin: 0.3rem auto;
    display: flex;
    .navLogo {
      width: 4%;
      height: 100%;
      // background-color: thistle;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
      @include sm {
        display: none;
      }
    }
    .navMenu {
      width: 3rem;
      height: 100%;
      // background-color: thistle;
      display: none;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
      i {
        color: white;
      }
      @include sm {
        display: flex;
      }
    }
    .navLinks {
      width: 40%;
      height: 100%;
      // background-color: teal;
      @include md {
        width: 60%;
      }
      @include lg {
        width: 55%;
        // background-color: #fff;
      }
      .navLinksCont {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
          font-size: 1.3rem;
          margin: 0 0.5rem;
          color: white;
          text-decoration: none;
        }
        @include sm {
          display: none;
        }
        @include md {
          // background-color: springgreen;
          a {
            font-size: 1rem;
          }
        }
      }
    }
    .navLoginDiv {
      width: 15%;
      height: 100%;
      // background-color: turquoise;
      margin-left: auto;
      display: flex;
      position: relative;
      @include md {
        width: 25%;
        // background-color: springgreen;
      }
      @include lg {
        width: 20%;
        // background-color: springgreen;
      }
      .navLogSign {
        width: 70%;
        height: 100%;
        // background-color:thistle;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          font-size: 1.3rem;
          margin: 0 0.5rem;
          color: white;
          text-decoration: none;
        }
        @include sm {
          display: none;
        }
      }
      .navProfile {
        position: absolute;
        right: 0;
        width: 3rem;
        height: 100%;
        // background-color: teal  ;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .navCollapseDiv {
    width: 100%;
    height: 4rem;
    background-color: #34495e;
    text-align: left;
    a {
      width: 100%;
      height: 80%;
      // background-color: teal;
      display: flex;
      align-items: center;
      padding-left: 1rem;
      font-size: 1.3rem;
      color: white;
      text-decoration: none;
    }
  }
}

@keyframes slide {
  0% {
    right: 0px;
  }
  7% {
    right: 0px;
  }
  14% {
    right: 1263px;
  }
  21% {
    right: 1263px;
  }
  28% {
    right: 2526px;
  }
  35% {
    right: 2526px;
  }
  42% {
    right: 3789px;
  }
  56% {
    right: 3789px;
  }
  63% {
    right: 2526px;
  }
  70% {
    right: 2526px;
  }
  84% {
    right: 1263px;
  }
  91% {
    right: 1263px;
  }
  98% {
    right: 0px;
  }
  100% {
    right: 0px;
  }
}

@keyframes slides {
  0% {
    right: 0px;
  }
  7% {
    right: 0px;
  }
  14% {
    right: 365px;
  }
  21% {
    right: 365px;
  }
  28% {
    right: 730px;
  }
  35% {
    right: 730px;
  }
  42% {
    right: 1095px;
  }
  56% {
    right: 1095px;
  }
  63% {
    right: 730px;
  }
  70% {
    right: 730px;
  }
  84% {
    right: 365px;
  }
  91% {
    right: 365px;
  }
  98% {
    right: 0px;
  }
  100% {
    right: 0px;
  }
}
.homeMainDiv {
  width: 98.7vw;
  height: 100%;
  // background-color: teal;
  overflow-x: hidden;
  .homeSliderDiv {
    width: 400%;
    height: 89vh;
    background-color: tan;
    display: flex;
    margin-top: 4rem;
    position: relative;
    animation: slide 38s linear 1s infinite forwards alternate;
    @include sm {
      display: none;
      margin-top: 4rem;
    }
    @include md {
      display: none;
      margin-top: 4rem;
    }
    @include lg {
      display: none;
      margin-top: 4rem;
    }
  }
  .slide1 {
    width: 25%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.homeDetailsDiv {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 25%,
    rgba(44, 58, 71, 1) 98%
  );
  position: relative;
  display: flex;
  flex-direction: column;
  .homeDetailsTitle {
    width: 100%;
    height: 8rem;
    // background-color: springgreen;
    margin: 2rem 0;
    text-align: center;
    padding-top: 1rem;
    font-size: 1.5rem;
    color: white;
    @include sm {
      margin-top: 4rem;
    }
    @include md {
      margin-top: 4rem;
    }
    @include lg {
      margin-top: 4rem;
    }
  }
  .homeDetailsCont{
    width: 100%;
    // height: 100%;
    // background-color: yellowgreen;
    margin: 2rem 0;
    .details1{
      width: 100%;
      height: 12rem;
      // background-color: yellow;
      margin: 1rem 0;
      display: flex;
      .details1ImgDiv{
        width: 30%;
        height: 100%;
        // background-color: wheat;
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 55%, 0% 0%);
        img{
          width: 100%;
          height: 100%;
        }
        @include sm{
          width: 100%;
          height: 75%;
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 51% 100%, 0 100%);
          padding: 2rem;
          img{
            border-radius: .5rem;
          }

        }

      }
      .details1ContentDiv{
        width: 70%;
        height: 100%;
        // background-color: violet;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
          font-size: 1.7rem;
        }
        @include sm {
          width: 100%;
          height: 25%;
          p{
            font-size: 1rem;
          }
        }
      }
      @include sm {
        flex-direction: column;
        height: 17rem;
      }
    }
    .details2{
      width: 100%;
      height: 12rem;
      // background-color: yellow;
      display: flex;
      margin: 1rem 0;
      .detai2s1ContentDiv{
        width: 70%;
        height: 100%;
        // background-color: violet;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
          font-size: 1.7rem;
        }
        @include sm {
          width: 100%;
          height: 25%;
          p{
            font-size: 1rem;
          }
        }
      }
      .details2ImgDiv{
        width: 30%;
        height: 100%;
        // background-color: wheat;
        clip-path: polygon(100% 0%, 100% 56%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
        img{
          width: 100%;
          height: 100%;
        }
        @include sm{
          width: 100%;
          height: 75%;
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 51% 100%, 0 100%);
          padding: 2rem;
          img{
            border-radius: .5rem;
          }

        }
      }
      @include sm {
        flex-direction: column;
        height: 17rem;
      }
    }
  }
}

.lecMainDiv {
  position: absolute;
  margin-top: 4rem;
  width: 98.7vw;
  height: 100%;
  // background-color: rgb(88, 92, 81);
  .lecSubNav {
    position: fixed;
    width: 100%;
    height: 3rem;
    background-color: #273c75;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    .lecSubNavSec {
      width: 50%;
      height: 80%;
      // background-color: whitesmoke;
      margin: 0.3rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      p {
        cursor: pointer;
        font-size: 1rem;
        color: white;
        text-decoration: none;
      }
      @include sm {
        display: none;
      }
      @include md {
        width: 80%;
      }
    }
    .lecSubNavColl {
      width: 20%;
      height: 100%;
      // background-color: turquoise;
      margin-left: 1.5rem;
      display: none;
      align-items: center;
      justify-content: center;
      button {
        border: none;
        outline: none;
        background-color: transparent;
      }
      :hover {
        color: white;
      }
      @include sm {
        display: flex;
      }
    }
  }

  .navSubCollapse {
    width: 100%;
    background-color: aliceblue;
    margin-top: 3rem;
    position: fixed;
  }
  .lecDrawer {
    width: 25%;
    height: 100%;
    position: fixed;
    background-color: #273c75;
    margin-top: 3rem;
    transform: translateX(-100%);
    transition: 300ms linear 0ms;
    overflow-y: auto;
    border-right: 1px solid rgba(255, 255, 255, 0.5);

    .drawerSubContainer {
      width: 100%;
      // background-color: steelblue;
      margin-top: 2rem;
      .drawerSubName {
        width: 100%;
        height: 2.5rem;
        // background-color: azure;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        p {
          color: #007FFF;
          font-size: 1.5rem;
        }
      }
      .drawerAccordianContainer {
        width: 100%;
        // background-color: blanchedalmond;
        .accordianPrimary {
          width: 100%;
          height: 2rem;
          // background-color: aquamarine;
          display: flex;
          align-items: center;
          border-radius: .5rem;
          .fa {
            position: absolute;
            right: 1rem;
            margin-top: 0.3rem;
          }
          p {
            color: white;
            font-weight: 500;
            font-size: 1.2rem;

          }
          &:hover{
            background-color:#b1c0eca6 ;
          }
        }
        .accordianSecondary {
          width: 100%;
          display: flex;
          flex-direction: column;
          border-radius: .5rem;
          margin: 1rem 0;
          .accordianSecondaryLink{
            margin: 0.2rem 0;
            border-radius: .3rem;
            a {
            // background-color: blueviolet;
            margin: 0.2rem 0;
            font-size: 1rem;
            color: #dcdde1;
            text-decoration: none;
            }
            &:hover{
              background-color:#b1c0eca6  ;
              a{
                // color:#007FFF
                color:white
              }
            }

          }
         
        }
      }
    }

    @include sm {
      width: 70%;
    }
  }
  .lecContentDiv {
    width: 100%;
    height: 100%;
    background-color: aqua;
    margin-top: 0rem;
    .lecHeaderDiv {
      width: 100%;
      height: 15%;
      background-color: #273c75;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
      p {
        color: white;
        font-size: 2rem;
      }
    }
    .lecContentContainer {
      width: 100%;
      // height: 100%;
      background-color: #273c75;
      .lecSubLinksContainer {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        background-color: #273c75;
        display: flex;
        flex-direction: column;
        .lecSubName {
          width: 100%;
          height: 3rem;
          background-color: #273c75;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 1rem 0;
          p {
            color: #00a8ff;
            font-size: 2rem;
          }
        }
        .lecSubTopicName {
          width: 100%;
          height: 2rem;
          background-color: #7a92d3;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 2rem 0;
          border-radius: .5rem;
          p {
            color: white;
            font-size: 1.5rem;
          }
        }
        .lecLinkContainer {
          width: 100%;
          height: 2.5rem;
          // background-color: burlywood;
          display: flex;
          margin-bottom: 0.5rem;
          .linkIconDiv {
            width: 15%;
            height: 100%;
            // background-color: cadetblue;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .linkTitleDiv {
            width: 85%;
            height: 100%;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
  .lecDrawerOpen {
    transform: translateX(0%);
  }

  .toTop {
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    position: fixed;
    bottom: 1.5rem;
    right: 1rem;

    img {
      width: 100%;
      height: 100%;
    }
    button {
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: transparent;
      outline: transparent;
      font-size: 3rem;
    }
    @include sm {
      right: -0.5rem;
    }
  }
}

.notesMainDiv {
  position: absolute;
  margin-top: 4rem;
  width: 98.7vw;
  height: 100%;
  // background-color: rgb(88, 92, 81);
  display: flex;
  flex-direction: column;
  .notesSubBar {
    width: 100%;
    height: 3rem;
    background-color: #273C75;
    display: flex;
    align-items: center;
    position: fixed;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    .notesSubLinkContainer {
      width: 50%;
      height: 80%;
      // background-color: yellow;
      margin: 0 2rem;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      a {
        font-size: 1rem;
        color: white;
        text-decoration: none;
      }
      @include sm {
        display: none;
      }
      @include md {
        width: 70%;
      }
    }
    .notesSubButton {
      display: none;
      @include sm {
        display: flex;
      }
    }
  }
  .notesSubCollapse {
    width: 100%;
    // height: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    z-index: 3;
    margin-top: 3rem;
    position: fixed;

    p {
      width: 100%;
      height: 2rem;
      display: flex;
      align-items: center;
    }
  }

  .notesContentContainer {
    width: 100%;
    // height: 100%;
    background-color: #273C75;
    margin-top: 3rem;
    .notesContentTitle {
      width: 100%;
      height: 7rem;
      background-color: #273C75;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;
      p {
        color: white;
        font-size: 2rem;
      }
    }
    .notesContentLinksDiv {
      width: 80%;
      // height: 100%;
      // background-color: turquoise;
      margin: 0 auto;
      .notesSubDiv {
        width: 100%;
        // height: 100%;
        background-color: #273C75;
        .notesSubName {
          width: 100%;
          // height: 3rem;
          background-color: #273C75;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 1rem;
          p {
            color: #74b9ff;
            font-size: 2rem;
          }
        }
        .notesTopicDiv {
          width: 100%;
          height: 2rem;
          // background-color: turquoise;
          display: flex;
          margin: 1rem 0;
          .notestopicIconDiv {
            width: 15%;
            height: 100%;
            // background-color: teal;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 2rem;
              height: 90%;
            }
          }
          .notesTopicTitle {
            width: 85%;
            height: 100%;
            // background-color: tan;
            display: flex;
            align-items: center;
            a {
              font-size: 1.5rem;
              color: white;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.signUpMaindiv {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 25%, #2c3a47 98%);
  padding-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .mainSignUpCard {
    width: 80%;
    height: 90%;
    // background-color: yellowgreen;
    margin: auto;
    border-radius: 2rem;
    display: flex;
    border: 4px solid #2c3a47;
    .mainSignUpImg {
      width: 50%;
      height: 100%;
      background-color: yellow;
      border-radius: 2rem;
      img {
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        border-bottom-right-radius: 0rem;
        border-top-right-radius: 0rem;
      }
      @include sm {
        display: none;
      }
      @include md {
        display: none;
      }
    }
    .mainSignUpForm {
      width: 50%;
      height: 100%;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 25%,
        rgba(44, 58, 71, 0.7961454845610119) 99%
      );
      border-radius: 2rem;
      border-bottom-left-radius: 0rem;
      border-top-left-radius: 0rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .mainSignUpFormTitle {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        p {
          font-size: 2rem;
          color: whitesmoke;
        }
      }
      .mainSignUpFormContainer {
        width: 70%;
        height: 90%;
        //  background-color:#18d6e7;
        display: flex;
        flex-direction: column;
        padding-left: 4rem;
        .passwordDiv {
          width: 90%;
          display: flex;
          .password {
            width: 90%;
          }
          .iconDiv {
            width: 10%;
          }
        }

        input {
          width: 90%;
          height: 2rem;
          border-radius: 0.5rem;
          background-color: transparent;
          margin: 0.5rem;
          border: 1px solid black;
          outline: none;
          box-sizing: border-box;
          color: black;
          &:hover {
            border: 1.5px solid black;
          }
          &:focus {
            border: 2.5px solid #00a8ff;
          }
          &::placeholder {
            color: black;
          }
        }

        .submitDiv {
          width: 100%;
          height: 4rem;
          //  background-color: blanchedalmond;
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            width: 5rem;
            height: 1.7rem;
            border-radius: 0.6rem;
            margin: 0.5rem;
            background-color: #495560;
            color: white;
          }
        }

        .navlinkDiv {
          width: 100%;
          height: 2rem;
          // background-color: blanchedalmond;
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            font-size: 0.9rem;
          }
          a {
            color: #007fff;
            text-decoration: none;
          }
        }
      }
      @include sm {
        width: 100%;
        border-bottom-left-radius: 2rem;
        border-top-left-radius: 2rem;
      }
      @include md {
        width: 100%;
        border-bottom-left-radius: 2rem;
        border-top-left-radius: 2rem;
      }
    }
    @include md {
      width: 90%;
      height: 80%;
    }
    @include sm {
      height: 90%;
    }
  }
}

.mainLoginDiv {
  position: absolute;
  width: 98.7vw;
  height: 90vh;
  margin-top: 4rem;
  overflow: hidden;
  background-color: #2c3a47;
  background-image: linear-gradient(180deg, #2c3a47 0%, #ffffff 86%);
  display: flex;
  align-items: center;
  justify-content: center;
  .loginCard {
    width: 30%;
    height: 80%;
    // background-color: yellowgreen;
    margin: 4rem auto;
    border-radius: 2rem;
    background-color: #2c3a47a6;
    position: relative;
    display: flex;
    flex-direction: column;
    @include md{
      width: 65%;
      height: 60%;
    }
    @include sm{
      width: 90%;

    }
    .loginTitle {
      width: 100%;
      height: 3rem;
      // background-color: yellowgreen;
      margin-top: 3rem;
      text-align: center;
      font-size: 2rem;
      color: white;
    }
    .loginForm {
      width: 100%;
      height: 90%;
      // background-color: yellow;
      display: flex;
      flex-direction: column;
      margin-top: 4rem;
      input {
        width: 80%;
        height: 2rem;
        margin: 0 auto;
        border-radius: 0.5rem;
        border: none;
        outline: none;
      }
      p {
        width: 100%;
        height: 1.5rem;
        // background-color: yellow;
        text-align: center;
        font-size: 0.9rem;
        font-weight: 450;
        a {
          text-decoration: none;
          color: #18d6e7;
        }
      }
      button {
        width: 30%;
        height: 2rem;
        margin: 1rem auto;
        border-radius: 2rem;
        background-color: #2c3a47;
        color: white;
      }
      

      .googleLogin {
        width: 40%;
        height: 2.3rem;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 1.5rem;
          height: 1.5rem;
          margin: 0.5rem;
        }
      }
    }
  }
}


.profileMainDiv{
  width: 100%;
  height: 100vh;
  background-color: #2c3a47;
  background-image: linear-gradient(180deg, #2c3a47 0%, #ffffff 86%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  .profileCardDiv{
    width: 70%;
    height: 90%;
    border-radius: 2rem;
    background-color: #34495ebb;
    border: 3px solid #2c3a47;
    .profileNameImgDiv{
      width: 100%;
      height: 40%;
      // background-color: #00a8ff;
      display: flex;
      
      .profileImg{
        width: 30%;
        height: 100%;
        // background-color: #007fff;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          width: 60%;
          height: 80%;
          border-radius: 50%;
          @include md{
            width: 45%;
            height: 90%;
          }
        }
        @include md{
          width: 100%;
        }
      }
      .profileName{
        width: 70%;
        height: 100%;
        // background-color: yellowgreen;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
          font-size: 3rem;
          color: white;
          @include md {
            font-size: 2rem;
          }
        }
        @include md{
          width: 100%;
        }
      }
      @include md{
        flex-direction: column;
      }
    }
    .profileDetailsDiv{
      width: 100%;
      height: 60%;
      // background-color: yellow;
      display: flex;
      align-items: center;
      justify-content: center;
      .profileDetailsContainer{ 
          width: 60%;
          height: 100%;
          // background-color:violet;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          p{
            font-size: 1.5rem;
            margin: .5rem 0;
            @include md {
              font-size: 1.7rem;
            }
            @include sm {
              font-size: 1.1rem;
            }
            
          }
          button{
            width: 5rem;
            height: 2rem;
            border-radius: .5rem;
            background-color: #2c3a47;
            color: whitesmoke;
          }
          a{text-decoration: none;}
         @include md {
           width: 100%;
         }
      }
    }
    @include md{
      height: 70%;
    }
    @include sm {
      height: 55%;
    }
   
  

  }
}

.profileEditMainDiv{
  width: 100vw;
  height: 100vh;
  background-color: #2c3a47;
  background-image: linear-gradient(180deg, #2c3a47 0%, #ffffff 86%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  .profileEditCard{
    width: 60%;
    height: 80%;
    // background-color:yellowgreen;
    background-color: #34495ebb;
    border-radius: 2rem;
    .profileEditCardTitle{
      width: 100%;
      height: 20%;
      // background-color: yellow;
      display: flex;
      align-items: center;
      justify-content: center;
      p{
        font-size: 2rem;
      }
    }
    .profileEditCardContent{
      width: 70%;
      height: 80%;
      // background-color:wheat;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      label{
        width: 100%;
        height: 2rem;
        // background-color: violet;
        display: flex;
        align-items: center;
        // justify-content: center;
        p{
          font-size: 1rem;

        }
        input{
          width: 50%;
          height: 80%;
          border-radius: .5rem;
          border:none;
          outline: none;
          // background-color:;
          &:focus{
            border: 2px solid #74b9ff;
          }
        }
      }
      button{
        width: 5rem;
        height: 2rem;
        border-radius: .5rem;
        background-color: #34495ebb;
        border: none;
      }
      a{
        text-decoration: none;
      }
    }
    @include sm{
      width: 95%;
      height: 40%;
    }
    @include md{
      width: 95%;
      height: 40%;
    }
  }
}


.MockTestMainDiv{
  width: 100vw;
  height: 100vh;
  padding-top: 4rem;
  background-color: #273c75;
  .testSelectBar{
    width: 35%;
    height: 100%;
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 35%, rgba(0,127,255,1) 99%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: .6rem;
    border-bottom-right-radius: .6rem;
    .testSelectForm{
      // display: none;
      width: 90%;
      height: 90%;
      background-color: #1E1E1E;
      border-radius: 2rem;
      overflow-y: auto;
      .testSelectFormTitle{
        width: 100%;
        height: 15%;
        background-color: #5858586c;
        border-radius: 2rem;
        border-bottom-left-radius: 0rem;
        border-bottom-right-radius: 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
          font-size: 1.5rem;
          color: white;
        }

      }
      .testSelectGroup{
        width: 100%;
        height: 85%;
        // background-color: thistle;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-y: auto;
        .subSelect{
          width: 80%;
          border-radius: 1.5rem;
         
          .subSelectButton{
            width: 100%;
            border-radius: 1rem;
            margin-top: 1rem ;
            button{
              background-color: rgba(0, 0, 0, 0.541);
              width: 100%;
              border-radius: .5rem;
             
              // background-color: transparent;
              &:hover{
                background-color:#5858586c ;
              }
            }
          }
          .subCollapseDiv{
            width: 100%;
            margin-top: -.3rem;
            display: flex;
            flex-direction: column;
            border-radius: 1rem;
            border-top-left-radius: 0rem;
            border-top-right-radius: 0rem;
            background-color:  rgba(0, 0, 0, 0.541);
            button{
              height: 1.3rem;
              border: none;
              outline: none;
              background-color: transparent;
              color: white;
              font-size: .8rem;
              &:first-child{
                margin-top: .5rem;
              }
            }
          }
         
        }
       
       
      }
    }
  }
}